/*
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
*/

.container{
    width: 110px;
    height: 110px;
    border-radius: 50%;
    padding: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    z-index:1;
    margin: 0px 30px 30px 30px;

}

.social{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: -1;
    transform: translateY(0px);
    transition: 0.5s;

}
img{
    width: 180px;
    height: 180px;
    border-radius: 50%;
/*    margin: 80px;*/
    border: 1.5px solid black;
    box-shadow: 0 0 10px black;


}


.container:hover .social{
    transition: 0.5s;
    box-shadow: 0 0 10px black;
    background-color: #bedbbb;
        border: 1px solid black;

    color: black;
}

.container:hover .social:nth-child(1){
    transform: rotate(-60deg) translateY(-150px);
}

.container:hover .social:nth-child(2){
    transition-delay: 0.1s;
    transform: rotate(-30deg) translateY(-150px);
}
.container:hover .social:nth-child(3){
    transition-delay: 0.2s;
    transform: rotate(0deg) translateY(-150px);
}
.container:hover .social:nth-child(4){
    transition-delay: 0.3s;
    transform: rotate(30deg) translateY(-150px);
}
.container:hover .social:nth-child(5){
    transition-delay: 0.4s;
    transform: rotate(60deg) translateY(-150px);
}

i{
    transition: 0.5s;
}

.social:hover i{
    transform: rotate(360deg);
    color:#393e46;
}

.team{
    padding-top: 120px;
/*    margin-top: 80px;*/
    display: flex;
    justify-content: center;
    align-content: center;
    margin-right: 200px;
    margin-left: 200px;
    font-weight: bold;

}

